[Unit]
Description=Google Remote
After=multi-user.target

[Service]
ExecStart=/bin/bash -c '/home/pi/projects/google-remote/run.sh > /home/pi/google-remote.log 2>&1'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
