[Unit]
Description=Google Remote
Requires=multi-user.target

[Service]
ExecStart=openvt --console=2 --switch --force --wait /bin/bash -c \
            '/home/pi/projects/google-remote/run.sh 2> /home/pi/google-remote.log'
ExecStartPost=deallocvt

# disable timeout logic during start of process
TimeoutSec=infinity

# always restart
Restart=always

# wait 30 seconds before restarting
RestartSec=30