[Unit]
Description=Google Remote
After=network.target
Before=systemd-logind.service

[Service]
ExecStart=/bin/bash -c '/home/pi/projects/google-remote/run.sh 2> /home/pi/google-remote.log'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity
TTYPath=/dev/tty1
StandardInput=tty

[Install]
WantedBy=network.target
RequiredBy=systemd-logind.service